body {
width: 100%;
height: 100%;
background: rgb(221, 249, 236);
}

html {
width: 100%;
height: 100%;
}
#sve {

display: flex;
flex-direction: row;
height: 100%;
width: 90%;

}


 div #slika {
position: relative;

   width: 50%;
   height: 100% ;
}

#slika img {
display: flex;

height: 100%;
width: 100%;



}

div #text {

margin: 3rem;


}



form {
margin-top: 5rem;

position: relative;
background:  rgb(245, 253, 249);
box-shadow: 5px 5px 5px;
display: flex;

width: 100%;

justify-content: space-around;
border: 1px grey solid;
}

#prva {
display: flex;
margin: 1rem;

}

#line {
    
display: flex ;
flex-direction: column;
width: 100%;
margin: 40px;
}

h3 {
position: absolute;
top: auto;
left: auto ;
margin-left: 4rem ;
margin-bottom: 4rem;
font-size: 2.5rem;


}

p {
width: 100%;
    padding: 10px;
font-size: 1.6rem;
font-weight: 700;
font-style: italic;



}

div #logo {
    display: flex;
    flex-direction: row;
align-items: center;
justify-content: center;
    margin-top: 6rem;
position: absolute;

width: 100%;
height: 25%;
background: hsla(0, 0%, 0%, 0.4)
}


#logo p {
font-size: 2.5rem;
color: white;
font: 1rem;
padding-left: 4rem;
}

div #ftree, 
div #second {

margin-top: 3rem;
margin-bottom: 3rem;

}


button {
    margin-top: 4rem;
    margin-left: 24.5rem
;   border-radius: 2rem;
    width: 35%;
    font-size: 2rem;
    background:rgb(182, 227, 182) ;
    font-weight: 400;

}

button:hover {

    background: rgb(31, 154, 31);
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 700;
}

div #second {

margin-right: 3rem;



}

input {

   font-size: 2rem;
    border-radius: 1rem;

}

input:valid {

    outline: 0.5px solid rgb(68, 255, 31);


}

input:invalid {

    outline: 0.5px solid rgb(235, 3, 3);


}

label {

    font-size: 1.3rem;
}